<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.antsapps.tennotrumps"
  android:versionCode="6"
  android:versionName="1.2" >

  <uses-sdk
    android:minSdkVersion="8"
    android:targetSdkVersion="16" />

  <uses-permission android:name="android.permission.VIBRATE" />

  <meta-data
    android:name="com.google.android.backup.api_key"
    android:value="AEdPqrEAAAAIvUqGpnWFdV4ssnD8n34lBB98RF8bAHkgoKXLcg" />

  <application
    android:icon="@drawable/ic_launcher_ace_spades_hearts"
    android:label="@string/app_name"
    android:theme="@style/Theme.Sherlock.Light.DarkActionBar.CustomToggle" >
    <activity
      android:name=".MatchList"
      android:label="@string/app_name" >
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".RoundList"
      android:label="@string/rounds" />
    <activity
      android:name=".HandList"
      android:label="@string/hands"
      android:uiOptions="splitActionBarWhenNarrow" />
    <activity
      android:name=".AddMatch"
      android:label="@string/new_match" />
    <activity
      android:name=".AddHand"
      android:label="@string/new_hand_title" />
    <activity
      android:name=".SettingsActivity"
      android:label="@string/settings" />
  </application>

</manifest>